<app-nav></app-nav>
<!-- <p>admin works!</p> -->
<h4 translate>admin.title</h4>


<!-- <div>
    <button (click)="changeLanguage('en')">English</button>
    <button (click)="changeLanguage('ar')">Arabic</button>
    <button (click)="changeLanguage('es')">Spanish</button>
    <button (click)="changeLanguage('te')">Telugu</button>
    <button (click)="changeLanguage('ta')">Tamil</button>
</div>

<h2 translate>admin.ross</h2>

<div>
    <span [innerHTML]="'home.sum_text' | translate: { value1: a, value2: b }"></span> {{a+b}}
</div>


<div>
    <button (click)="changeValue1()"><span translate>home.value</span> 1 +</button> <button (click)="changeValue2()"><span
            translate>home.value</span> 2 +</button>
</div>
<br/><br/> -->

